/*
title: style.css
description: stylesheet for willbooz.com
date: December 2014
author: Will Booz
*/

/*fonts*/
@font-face {
	font-family: josephin_bold;
	src: url(JosefinSlab-Bold.ttf) format(truetype);
}

@font-face {
	font-family: josephin_italic;
	src: url(JosefinSlab-Italic.ttf) format(truetype);
}

/*main page*/
#top-row {
	width: 34em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15em;
}

#bottom-row {
	width: 34em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.top {
	width: 10em;
	height: 10em;
	display: inline-block;
	margin-left: 1em;
}

.bottom {
	width: 10em;
	height: 10em;
	display: inline-block;
	margin-left: 1em;
}

#first-name {
	font-family: josephin_bold, sans-serif;
	font-size: 3.5em;
	float: right;
	margin-top: .25em;
	letter-spacing: .04em;
}

#last-name {
	font-family: josephin_bold, sans-serif;
	font-size: 3.5em;
	float: right;
	margin-top: -1em;
}

#caption {
	font-family: josephin_italic, sans-serif;
	font-size: 1.5em;
	margin-top: -2em;
	float: right;
}

.icon {
	width: 10em;
	height: 10em;
	margin: none;
}

.icon:hover {
	opacity: 0.5;
}